$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    color: #4b4b4b;
    background: #f5f5f5;   
    font-family: 'Lato', sans-serif;
}

a, a:hover, a:focus, a:visited {
    color: #4b4b4b;
}

.header {
    .navbar {
        min-height: 80px;
        border-bottom: #ebebeb solid 2px;
    }

    .navbar-brand {
        float: none;
        background: #ffffff;

        img {
            height: 45px;
            display: inherit;
        }
    }

    .navbar-center{
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        margin: auto;
        height:100%;
    }

    .nav-links {
        display: -webkit-inline-box;
        display: -moz-box;

        li > a {
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
        }

        li > a:hover, li > a:focus {
            background: none;
            text-decoration: line-through #fabd07;
        }

        .circle {
            color: #f94e4e;
            margin: 10px;
            font-size: 12px;
        }
    }
}
