{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "import"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-uses-react": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": 0,
    "react/no-array-index-key": 0,
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "import/order": [
      "error",
      { "groups": ["builtin", "external", "index", "sibling", "parent", "internal", "object", "type"] }
    ]
  }
}
