{
  "extends": [
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "color-no-invalid-hex": true,
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "max-empty-lines": 2
  }
}
