<!-- Pagination -->
<div class="pagination is-centered nav-margin">
    <ul class="pagination-list" ng-if="1 < pages.length || !autoHide">        
        <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
            <a href="" ng-click="setCurrent(pagination.current - 1)" class="pagination-link">&lsaquo;</a>
        </li>
        <li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
            <a href="" ng-click="setCurrent(pageNumber)" class="pagination-link">{{ pageNumber }}</a>
        </li>
        <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
            <a href="" ng-click="setCurrent(pagination.current + 1)" class="pagination-link">&rsaquo;</a>
        </li>       
    </ul>
</div>