<section class="search">	
  <div class="inner-addon left-addon">	
    <i class="glyphicon glyphicon-search"></i>	
    <input type="text" class="form-control" placeholder="Busque pelo título, autor ou tradutor" ng-model="searchString" ng-change="mainCtrl.search(searchString)" />	
  </div>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12 text-center not-found" ng-hide="mainCtrl.result.translations.length > 0">
      <h3>Nenhum resultado encontrado!</h3>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in mainCtrl.result.translations">
      <div class="thumbnail">
        <a ng-href="{{item.url}}">
          <img ng-src="{{item.imageUrl}}" alt="{{item.title}}">
        </a>
        <div class="caption">
          <a ng-href="{{item.site}}">
            <h5>{{item.title}}</h5>
          </a>
          <p>
            <span>Autor:</span> {{item.author}}</p>
          <p>
            <span>Tradutor:</span> {{item.translator}}</p>
          <div class="tags">
            <span class="label label-primary" ng-show="item.type == 'articles'">Artigos</span>
            <span class="label label-primary" ng-show="item.type == 'books'">Livros</span>
            <span class="label label-primary" ng-show="item.type == 'documentation'">Documentações</span>
            <span class="label label-primary" ng-show="item.type == 'others'">Outros</span>
            <span class="label label-secondary" ng-show="item.status == 'completed'">Concluído</span>
            <span class="label label-secondary" ng-show="item.status == 'inProgress'">Em Progresso</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="paginations text-center" ng-show="mainCtrl.result.translations.length > 0">
  <ul uib-pagination class="pagination" total-items="(mainCtrl.result.pagination.totalPages * mainCtrl.result.pagination.pageSize)" ng-model="mainCtrl.result.pagination.page" max-size="5" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="mainCtrl.result.pagination.pageSize" ng-change="mainCtrl.changePage(mainCtrl.result.pagination.page, searchString)"></ul>
</section>