


<section class="content grid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in mainCtrl.result">
      <div class="thumbnail">
        <a ng-href="{{item.url}}">
          <img ng-src="{{item.imageUrl}}" alt="{{item.title}}">
        </a>
        <div class="caption">
          <a ng-href="{{item.site}}">
            <h5>{{item.title}}</h5>
          </a>
          <p>
            <span>Autor:</span> {{item.author}}</p>
          <p>
            <span>Tradutor:</span> {{item.translator}}</p>
          <div class="tags">
            <span class="label label-primary" ng-show="item.type == 1">Artigos</span>
            <span class="label label-primary" ng-show="item.type == 2">Livros</span>
            <span class="label label-primary" ng-show="item.type == 3">Documentações</span>
            <span class="label label-primary" ng-show="item.type == 4">Outros</span>
            <span class="label label-secondary" ng-show="item.status == 1">Concluído</span>
            <span class="label label-secondary" ng-show="item.status == 2">Em Progresso</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="paginations text-center">
  <ul uib-pagination class="pagination" total-items="mainCtrl.totalNumberOfItems" ng-model="mainCtrl.currentPage" max-size="5" boundary-links="true"
    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="6" ng-change="mainCtrl.changePage(mainCtrl.currentPage)"></ul>
</section>