<!-- Section: Livros -->
<section class="section is-medium animated fadeIn" ng-controller="LivrosController as vm">
	<div class="container">
		<div class="has-text-centered">
			<h1 class="title is-2">Livros e Outros</h1>
		</div>

		<nav class="level level-margin">
			<div class="level-item">				
				<div class="control has-addons">
					<input class="input" type="text" placeholder="Digite o nome do livro" ng-model="vm.userSearch"/>
					<button class="button" ng-click="vm.paginaAlterada(1)">
						<i class="fa fa-search"></i>
					</button>
				</div>					
			</div>			
		</nav>

		<div class="columns is-multiline">
            <div class="column is-one-third" dir-paginate="livro in vm.livros | filter:vm.userSearch | itemsPerPage: vm.livrosPorPagina" current-page="vm.paginacao.current">
                <div class="animated fadeInUp">
                    <a class="image image is-2by1" href="{{livro.siteLivro}}" target="_blank">
                        <img ng-src="{{livro.imagemLivro}}" />
                    </a>
                    <div class="media-left">
                        <p class="titulo-div">
                            <strong>{{livro.nomeLivro}}</strong>
                        </p>
                        <small><i>Autor:</i> {{livro.autorLivro}} | <i>Tradutor:</i> {{livro.tradutorLivro}}</small>
                    </div>
                </div>
            </div>
		</div>	

		<dir-pagination-controls template-url="app/pagination/pagination.tpl.html"></dir-pagination-controls>	
	</div>
</section>