.thumbnail {
    padding: 0px;
    background: none;
    border: 0px;
    border-radius: 0px;    

    .caption {
        padding: 0px;

    	a {
    		h5 {
	        	font-weight: $weight-large;
	    		color: $text-gray-title;
	    	}

	    	h5:hover {
	    		color: $text-dark;
	    	}
	    }

        p {
		    margin: 0px;
		    font-size: $font-small;

		    span {
		    	font-weight: $weight-large;
    			color: $text-pink;
		    }
		}

		.tags {			
		    margin-top: 10px;
		    font-family: $lato;

			.label-primary {
				background-color: $text-pink;
			}

			.label-secondary {
				background-color: $text-yellow;
			}

		}
    }
}

@media screen and (max-width: 767px) {
    .thumbnail {
		padding-bottom: 30px;
	}
}

@media screen and (min-width: 767px) {
    .thumbnail {
		height: 320px;
    }
}