html {
    position: relative;
    min-height: 100%;
}

body {
    color: $text-gray-dark;
    margin-bottom: 150px;
    background: $gray-light-base;   
    font-family: $opensans;
}

a, a:hover, a:focus, a:visited {
    color: $text-gray-dark;
    font-size: $font-medium;
    font-weight: $weight-small;
    text-decoration: none;
}

small {
    font-size: 11px;
    color: #9d9d9d;
}

.circle {
    color: $text-pink;
    margin: 10px 5px;
    font-size: $font-small;
}

.form-control::-webkit-input-placeholder { color: $text-gray-placeholder; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: $text-gray-placeholder; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: $text-gray-placeholder; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: $text-gray-placeholder; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: $text-gray-placeholder; }  /* Microsoft Edge */