.paginations {
	padding: 30px 0px;
	font-family: $lato;

	.pagination {
		li {
			a {
				border: 0px;
			    color: $text-pink;
			}

			a:hover {
				color: $text-gray-title;
		    	font-weight: $weight-medium;
		    }
		}

		li:first-child,
		li:nth-child(2),
		li:last-child,
		li:nth-last-child(2) {
			a {
			    color: $text-gray-placeholder;
			    font-weight: $weight-large;
			}

			a:hover {
			    color: $text-yellow;
			}
		}

		.active {
			a {
				color: $text-white;
				background-color: $pink-base;
			}

			a:hover {	
				color: $text-white;			
				font-weight: $weight-small;
			}
		}

	}
	
}