// Colors ----------------------------------
$white-base: #ffffff;
$dark-base: #000000;
$pink-base: #f94e4e;
$yellow-base: #fabd07;
$gray-dark-base: #4b4b4b;
$gray-light-base: #f5f5f5;
$gray-border-base: #ebebeb;
$gray-placeholder-base: #a8a8a8;
$gray-search-base: #6d6d6d;
$gray-title-base: #363636;

// Text Color ------------------------------
$text-pink: $pink-base;
$text-dark: $dark-base;
$text-yellow: $yellow-base;
$text-gray-dark: $gray-dark-base;
$text-gray-light: $gray-light-base;
$text-gray-border: $gray-border-base;
$text-gray-placeholder: $gray-placeholder-base;
$text-gray-search: $gray-search-base;
$text-gray-title: $gray-title-base;

// Text Size -------------------------------
$font-small: 11px;
$font-normal: 12px;
$font-medium: 14px;
$font-large: 16px;

// Font Weight -----------------------------
$weight-small: 300;
$weight-normal: 400;
$weight-medium: 600;
$weight-large: 700;

// Personalize Style -----------------------
$line-through: line-through #fabd07;

// Font Family -----------------------------
$opensans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;