<!-- Section: Artigos -->
<section class="section is-medium animated fadeIn" ng-controller="ArtigosController as vm">
	<div class="container">
		<div class="has-text-centered">
			<h1 class="title is-2">Artigos</h1>
		</div>

		<nav class="level level-margin">
			<div class="level-item">				
				<div class="control has-addons">
					<input class="input is-medium" type="text" placeholder="Digite o nome do artigo" ng-model="vm.userSearch"/>
                    <button class="button is-medium" ng-click="vm.paginaAlterada(1)">
                        <i class="fa fa-search"></i>
                    </button>	
				</div>					
			</div>			
		</nav>

		<div class="columns is-multiline">
            <div class="column is-one-third" dir-paginate="artigo in vm.artigos | filter:vm.userSearch | itemsPerPage: vm.artigosPorPagina" current-page="vm.paginacao.current">
                <div class="animated fadeInUp">
                    <a class="image image is-2by1" href="{{artigo.siteArtigo}}" target="_blank">
                        <img ng-src="{{artigo.imagemArtigo}}" />
                    </a>
                    <div class="media-left">
                        <p class="titulo-div">
                            <strong>{{artigo.nomeArtigo}}</strong>
                        </p>
                        <small><i>Autor:</i> {{artigo.autorArtigo}} | <i>Tradutor:</i> {{artigo.tradutorArtigo}}<br><i>Tags:</i> <span ng-repeat="tag in artigo.tags"> {{tag}}</span></small>
                    </div>
                </div>
            </div>
		</div>	

        <dir-pagination-controls template-url="app/pagination/pagination.tpl.html"></dir-pagination-controls>
	</div>
</section>