<section class="search">
	<div class="inner-addon left-addon">
		<i class="glyphicon glyphicon-search"></i>
		<input type="text" class="form-control" placeholder="Busque pelo título, autor ou tradutor" ng-model="searchString"/>
	</div>

	<div class="filter">
		<label class="filter-text">Tipo de Tradução:</label>
		<label class="checkbox-inline"><input type="checkbox" value=""><span></span>Artigos</label>		
		<label class="checkbox-inline"><input type="checkbox" value=""><span></span>Livros</label>
		<label class="checkbox-inline"><input type="checkbox" value=""><span></span>Códigos</label>
		<label class="checkbox-inline"><input type="checkbox" value=""><span></span>Documentações</label>
		<label class="checkbox-inline"><input type="checkbox" value=""><span></span>Outros</label>
		<label class="circle">•</label>
		<label class="filter-text">Projeto:</label>
		<label class="checkbox-inline"><input type="checkbox" value=""><span></span>Concluído</label>
		<label class="checkbox-inline"><input type="checkbox" value=""><span></span>Em Andamento</label>
	</div>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in mainCtrl.result.data | filter: searchString">
			<div class="thumbnail">
				<img src="{{item.image}}" alt="{{item.name}}">
				<div class="caption">
					<a ng-href="{{item.site}}"><h5>{{item.name}}</h5></a>	        
					<p><span>Autor:</span> {{item.author}}</p>
					<p><span>Tradutor:</span> {{item.translators}}</p>
					<div class="tags">
						<span class="label label-primary">{{item.type}}</span>
						<span class="label label-secondary">{{item.project}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="paginations text-center">

	<ul class="pagination">
		<li><a href="#" class="change-color">&lsaquo;</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#" class="change-color">&rsaquo;</a></li>
	</ul>
	
</section>