<section class="search">
	<div class="inner-addon left-addon">
	    <i class="glyphicon glyphicon-search"></i>
	    <input type="text" class="form-control" placeholder="Busque pelo título, autor ou tradutor" />
	</div>

	<div class="filter">
		<label class="filter-text">Tipo de Tradução:</label>
		<label class="checkbox-inline"><input type="checkbox" value="">Artigos</label>		
		<label class="checkbox-inline"><input type="checkbox" value="">Livros</label>
		<label class="checkbox-inline"><input type="checkbox" value="">Códigos</label>
		<label class="checkbox-inline"><input type="checkbox" value="">Documentações</label>
		<label class="checkbox-inline"><input type="checkbox" value="">Outros</label>
		<label class="circle">•</label>
		<label class="filter-text">Projeto:</label>
		<label class="checkbox-inline"><input type="checkbox" value="">Concluído</label>
		<label class="checkbox-inline"><input type="checkbox" value="">Em Andamento</label>
	</div>
</section>

<section class="content">
	
</section>